/* ============================VARIABLES======================= */

$color-primary: #c9d8e5;
$font-color: #ffffff;
$MQ-medium: 600px;
$MQ-large: 1024px;

/* ============================PAGE RESET======================= */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #8aa5bc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}