/* ============================INDEX======================= */
/* ============INDEX MOBILE============ */
.h2-main {
    background-color: #95b3ca;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    padding: 10px;
    letter-spacing: 3px;
}

/* ============INDEX GALERY============ */
/* ============GALERY MOBILE============ */
.conteiner-galery {
    padding: 1em;
    text-align: center;
}

.title-galery {
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline $color-primary;
}

.conteiner-span {
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: justify;
}

.principal-articule {
    margin-top: 1em;
}

.img-galery {
    border-radius: 1em;
    width: 100%;
    height: 400px;
    border: solid 5px $color-primary;
}

.title-articule {
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
}

/* ============GALERY TABLET============ */
@media (min-width: 600px) {
    .conteiner-galery {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 0.5em;
    }

    .conteiner-dog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .conteiner-span {
        justify-content: center;
    }

}

/* ============GALERY DESKTOP============ */
@media (min-width: 1025px) {
    main {
        height: 100%;
        width: 100%;


        .conteiner-galery {
            width: 80%;
            gap: 10px;
            display: grid;
            margin: auto;
            grid-template-columns: repeat(2, 1fr);

        }

        .img-main-index {
            grid-column: span 2;
            height: 400px;
        }

    }
}

/* ============ARTICULE INDEX ============ */
/* ============ARTICULE INDEX MOBILE============ */
article {
    display: flex;
    justify-content: center;

    .paragraph-articule {
        padding: 0.5em;
        text-align: justify;
        background-color: $color-primary;
        color: black;
        max-width: 1200px
    }

    .icon-option {
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
    }

    i {
        font-size: 1em;
    }

    .conteiner-option {
        display: flex;
        align-items: center;
    }
}

/* ============ARTICULE INDEX TABLET============ */
@media (min-width: 600px) {
    .paragraph-articule {
        margin: 1.5em;
        border-radius: 8px;
    }
}